
@font-face {
  font-family: 'HelveticaNeueLTPro-Lt';
  src: url('HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTPro-Lt.otf')  format('opentype'),
	     url('HelveticaNeueLTPro-Lt.woff') format('woff'), url('HelveticaNeueLTPro-Lt.ttf')  format('truetype'), url('HelveticaNeueLTPro-Lt.svg#HelveticaNeueLTPro-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}
