/* HEADER (cabecalho)
====================================================================================================== */
.inicio{    background: #006ccf; color: #000;}
.inicio p{color: #fff;    font-size: 14px; }
#header{ position:relative; z-index: 9999;}
.home #header{box-shadow: 0px 0px 0px #fff;}
.nav>li>a{    padding: 10px 10px!important;}
.navbar{margin-top: 30px;}
.navbar li{ display: inline; padding: 0px; font-size: 15px;}
.navbar li a{color: #ffffff; text-transform: uppercase;}
.navbar li a:hover{color: #000;}
.inicio .area{margin-top: 24px;    text-align: right;}
.inicio .area a{color: #ffffff; font-size: 16px;}
.tel .fa{}

.anos{}
.anos img{width: 104px;     background: #fff;
    margin-top: -15px;}
.logo{    margin-top: -68px;    background: #fff;}

.fas, .far{font-size: 90px!important;}

.elementor-icon-list-icon .fas, .elementor-icon-list-icon .far{font-size: 12px!important;}
.dropdown{ text-align: center;     background: #ffea00;    padding: 10px}
.dropdown .btn{position: relative; color: #000; text-transform: uppercase; font-size: 15px; background: none!important; border: 0px!important;}
.dropdown-menu.show{width: 100%;}
.formLoginBase {
    background: none!important;
    padding: 0px 10px!important;
    border: 0px!important;
}
::placeholder {
    font-size: 14px;
  }
#submit{ background: #ffc107!important; color: #01342d!important; font-size: 15px;    font-weight: 900;}
.icondo-login-campos a{color: #000;    font-size: 10px;    text-align: center;}
.icondo-login-campos{text-align: center;}
.icondo-login-campos p{margin-bottom: -1rem;}

#user_login, #user_pass{font-size: 10px;}

#user_login input[type="text"].form-control::-webkit-input-placeholder {
    font-size: 16px;
  }

#loginform input[type="text"], #loginform input[type="password"]{
    background: #fefefe;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    color: #01342d;
    border-radius: 15px;
    padding: 8px 16px;
    font-weight: 100;
    width: 100%;
}  

.segundavia{position: relative;
    padding: 15px!important;
    background-color: #000;
    text-align: center;}
.segundavia a{color: #ffffff; text-transform: uppercase; font-size: 14px;     font-weight: bold;}
.segundavia a:hover{color: #ffffff;}

.proposta{    width: 210px;}

.glyphicon{font-size:15px;color:#182d48}
.glyphicon-map-marker{color: #01a79d;}

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	MEIO
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#middle{ position:relative;}
#main{clear: both;}
.home #main{clear: both; position: relative;    top: -170px;}
.post_header .titulo a{color:#fff;} 

#gallery-1 img {
    border: 0px!important;
}

.single-post .postagem{    max-width: 1000px;    margin: 0 auto; padding: 30px;}
.single-post .titulo{margin: 15px 0px;}
.single-post{}
.single-post .titulo a{color: #000; font-size: 2.2em;}
button, input, select, textarea{border: 1px solid;}




  .epl-property-widget-image-wrapper{max-width: 1200px;    margin: 0 auto;}
  .epl-search-slim .epl-property_category, .epl-search-slim .epl-property_location, .epl-search-slim .epl-search-other, .epl-search-slim .epl-search-row-half{width: 15%;
    float: left;
    margin-right: 10px;}

  .epl-search-form.epl-sb-current{width: 100%;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;}
	
    .epl-listing-widget.property-widget-image{width: 24%;
        float: left;
        background: #fff;
        margin: 6px;} 
    .entry-content{padding: 15px;}    
    .property-meta.price{font-size: 18px; margin-top: 12px; font-weight: bold;}
    .suburb-name{font-size: 14px;}
    .property-heading a{font-size: 18px; color: #191945;}
    .epl-listing-single {max-width: 1200px;        margin: 0 auto;}
    .epl-listing-single .entry-title{font-size: 20px!important;}
    .epl-listing-single .pricing{    font-size: 28px!important; font-weight: bold;}
    .epl-property-single.view-expanded .property-pricing-details .property-feature-icons{font-size: 14px;}
    .epl-section-property-details{display: none;}
    .epl-tab-title {
        border-bottom: 1px solid #ccc;
        font-size: 22px;
        color: #006fb7;
    }
    .entry-content .listing-info{font-size: 16px;        line-height: 22px;}
    .epl-search-slim .epl-search-row-half{width: 16%!important;}
    .epl-search-slim .epl-search-submit-row{width: 12%!important;        margin-top: 18px;}
    .epl-search-form .epl-search-btn{background: #ffea00; padding: 12px; color: #000;        margin-top: 11px;}
    #commentform{width: 1160px;        margin: 0 auto;}
    #commentform input, #commentform textarea{border: 1px solid #ccc;}
    .epl-author-current{font-size: 22px;        text-transform: uppercase;}
    ul.epl-author-tabs li, ul.map-tabs li, ul.property_search-tabs li{font-size: 17px!important;}
    .epl-search-slim{    margin-bottom: 10px;}
    .epl-search-form.epl-sb-current{background: #ccc;        padding: 10px;}
    .tab-content p{line-height: 35px;}
    .entry-gallery{ display: none;}
    .epl-listing-widget .entry-header img.wp-post-image{ min-height: 300px;}
    .epl-danger{display: none;}

.epl-listing-widget{width: 30%;    float: left;}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	BUSCA RÁPIDA
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {font: 1!important;}

#busca_rapida{
    position: relative;
    color: #7e7f82;
    display: table;
    margin: 0 auto;
    font-size: 14px;
    width: 86%;
    padding: 30px 15px;

}
#busca_rapida .idiomas{
    display: none;
}
#busca_rapida .idiomas img{ 
    width:21px; 
    height:13px;
    cursor:pointer;
}
#busca_rapida select{
    width: 190px;
    height: 50px;
    position: absolute;
    top: 1px;
    border: 0px;
    padding: 0px;
    color: #7e7f82;
    background: #FFF url(http://agagedesign.com/hilmar/wp-content/plugins/buscarapida//img/buscarapida_bg_right-select.png) right center no-repeat;
}
#busca_rapida .multiSelect{
    width: 100%; 
    margin: 0px 0;
}
#busca_rapida .SuperSelect .flutuante {
    width: 213px;
}
#busca_rapida .superbox input{
    width: 100px;
    height: 19px;
}
#busca_rapida .deAte input{
    width: 76px;
}  

#busca_rapida .finalidade, .estado, .municipio, .bairro, .tipo, .quartos, .valor, .garagem{
    float:left;
    margin: 0px 2px;
    padding: 0px 0px;
    width: 188px;
}
#busca_rapida .bairro, .tipo{background: #fff; position: relative;    top: 2px;}
#busca_rapida .valor, .area, .garagem{
    margin:0 10px;
}
#busca_rapida .divCen{width: 130px!important;}

#busca_rapida .quartos{border: 0px;}
.finalidade{ position:relative;}
.frufruFormat { position:relative; cursor:pointer; }
.contfrufru{}
.selectFruFruForm { cursor:pointer; position: relative;    top: 2px; border: 0px!important; background: #FFF; line-height: 13px; height: 48px;
    padding: 17px 10px;
    text-transform: uppercase;}
.selectFruFruForm div { border:none; height:25px; display:inline-block; position:static; top:0; }
.selectFruFruForm .divEsq { float:left; width:4px; }
.selectFruFruForm .divCen { float:left; font-size:14px; overflow: hidden; height: 30px;}
.selectFruFruForm .divDir { float:left; width:14px; background:url(http://agagedesign.com/hilmar/wp-content/plugins/buscarapida//img/buscarapida_bg_right-select.png) no-repeat 0 0; position: relative; top: -4px; left: 14px; }
#busca_rapida .finalidade .selectFruFruForm .divDir { float:left; width:14px; margin: -5px 4px; }
.multiSelect INPUT{    text-transform: uppercase;}


.quartos label{display:block;}
.quartos option{display:block;}

.desabilitado .selectFruFruForm{ border-color:red;} 

.SuperCaixa .superbox {

border: 0px!important;    
padding: 15px 19px 14px 5px;
background: #FFF url(http://agagedesign.com/hilmar/wp-content/plugins/buscarapida//img/buscarapida_bg_right-select.png) right center no-repeat;
width: 190px!important;
}
.SuperCaixa .superbox input{color:#7e7f82; font-family: 'Avenir Light'!important;}

.input{border: 1px solid #818181; background: #FFF; color:#333333;}

.areaDeAte .input{width: 57px !important;}
dt, dd, dl {
    line-height: 15px;
    font-size: 14px!important;
    font-weight: 100!important;
    margin-bottom: 0rem!important;
}

.botao-buscar{background: #01342d; top: 34px;
    right: 24px;
    position: absolute;
    padding: 16px!important;} 

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Destaque
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#destaque_container-widget #destaques-widget{max-width: 1150px!important;}

#destaque_container-widget .item {
    width: 32%!important;
    height: 420px!important;
    background: #fff!important;
    border: 0px solid #ccc!important;
    display: block;
    float: left;
    position: relative;
    margin: 0 7px 30px;
}

#destaque_container-widget .foto img {
    border: 0px!important;
    width: 368px!important;
    height: 295px!important;
}

#destaque_container-widget .titulo {
    background: #01a79d!important;
    color: #fff;
    width: auto;
    display: inline!important;
    height: auto!important;
    text-transform: uppercase;
    font-size: 17px!important;
    padding: 6px 18px!important;
    margin-top: 0px!important;
    margin-left: 0px!important;
    position: absolute;
    top: 240px;
    right: 130px;
}


#destaque_container-widget .valorimb{
    color: #000;
    font-size: 1.4em;
    margin: 10px;
}

#destaque_container-widget .foto{ margin-top: 0px!important; margin-bottom: 10px;}
#destaque_container-widget .tipo{    font-size: 1.2em;
    width: 100%;
    color: #000;
    margin: 0px 10px;
    font-weight: 500;
    margin-bottom: 5px!important;
    border: 0px!important;
    background: none;}
#destaque_container-widget .bairroimb{
    font-size: 1.1em;
    width: 100%;
    color: #01a79d;
    margin: 0px 10px;
    font-weight: 400;
    display: block!important;
    text-transform: capitalize!important;
}
#destaque_container-widget .quarto{
    font-size: 1.2em;
    width: 100%;
    color: #000;
    margin: 0px 10px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	CONTATO
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea{background: #fefefe;
    border: 1px solid;
    margin-bottom: 20px;
    color: #000;
    font: 13px 'Roboto', sans-serif;
margin-top:10px;}
.wpcf7 p{    margin-bottom: 10px; text-align: left; }
.wpcf7 textarea{padding: 100px 20px 0px; margin-top: 10px;}
.formulario{}
.wpcf7-submit{text-transform: uppercase!important;
    background: #ffea00!important;
    color: #000!important;
    padding: 12px 25px!important;
    margin-bottom: 30px;
    font-size: 15px!important;
	
}
::-webkit-input-placeholder {   color: #fff;   font: 24px 'Work Sans', sans-serif;   text-transform:uppercase;   font-weight:500; height:28px; padding-bottom:20px;}
:-moz-placeholder {   color: #fff;    font: 24px 'Work Sans', sans-serif;	text-transform:uppercase;	font-weight:bold; height:28px; padding-bottom:20px;}
::-moz-placeholder { color: #fff;    font: 24px 'Work Sans', sans-serif;    text-transform:uppercase;   font-weight:bold; height:28px; padding-bottom:20px; }
:-ms-input-placeholder {  color: #fff;    font: 24px 'Work Sans', sans-serif;   text-transform:uppercase;   font-weight:bold; height:28px; padding-bottom:20px; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#footer{ clear:both; position:relative; color: #fff; background: #006cd0; padding: 20px 0px 50px;}
#footer h2{ font-family: 'Oswald', sans-serif;   font-size: 28px;  text-transform: uppercase;  color: #ffffff;line-height: 30px;}
#footer p{}
#text-3, #text-2{border-right: 2px solid #ffea00;}
.telefone{padding-left: 70px!important;}
#footer li a{color: #000000;}
#whats{position:fixed; bottom: 1px; right: 1px;    width: 230px; z-index: 999;}
.redes{}
.redes li{display: inline;}
.copy{ background: #009dd0;    color: #fff;}
.copy p{text-align: center;}
.copy p a{ color: #fff; }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  BACK TO TOP
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#back-top { bottom: 180px; position: fixed; right: 15px; }
#back-top a { display: block; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; }
